@import url('https://fonts.googleapis.com/css?family=Barlow|Cinzel|Quicksand|Roboto|Shadows+Into+Light&display=swap');

/*Header*/
header {
  padding: 20px;
  background: white;
  color: #000066;
  font-size: 30px;
  height: 80px;
}

header .search-container {
  float: right;
  margin-top: 20px;
  max-width: 300px;
}

header input[type=text] {
  padding: 7px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #006699;
}

header .search-container button {
  margin: auto;
  max-width: 50px;
  float: right;
  padding: 6px 10px 10px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #c2d1f0;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  header .search-container {
    float: none;
  }

  header input[type=text], header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  header input[type=text] {
    border: 1px solid #ccc;
  }
}

/*Top navigation*/
.topnav {
  background-color: #000066;
  overflow: hidden;
  color: white;
}

.topnav a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  font-family: system-ui;
}

.topnav a:hover {
  background-color: #a6a6a6;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: #000066;
  border-top: 2px solid #000066;
  border-bottom: 2px solid #000066;
}



.sidenav, .sidenav ul, .sidenav li, .sidenav a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 14px;
  position: relative;
}
.sidenav a {
  line-height: 1.3;
}
.sidenav {
  width: 20%;
  float: left;
}
.sidenav > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background:  #000066;
  color: #ffffff;
  border-bottom: 1px solid   #b3b3ff;
  text-transform: uppercase;
}
.sidenav > ul > li > a > span {
  background:    #336699;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
.sidenav > ul > li > a:hover {
  text-decoration: none;
}
.sidenav > ul > li.active {
  border-bottom: none;
}
.sidenav > ul > li.active > a {
  color: #fff;
}
.sidenav > ul > li.active > a span {
  background:  #000066;
}
.sidenav span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
.sidenav ul {
  margin-bottom: 50px;
}
.sidenav ul ul {
  display: none;
}
.sidenav ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
.sidenav ul ul a {
  padding: 10px;
  display: block;
  color:  #003366;
  font-size: 13px;
}
.sidenav ul ul a:hover {
  color:  #990000;
}
.sidenav ul ul li.odd {
  background:   #ecf2f9;
}
.sidenav ul ul li.even {
  background: #fff;
}

/* Main content */
.main {
  margin-left: 20%;
  padding: 5px 70px 50px 50px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #00004d;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 15px 10px;
  font-family: 'Barlow', sans-serif;
}

h1 a {
  color: #00004d;
  text-decoration: none;
}

h2 {
  color: #000066;
  font-size: 28px;
  text-align: left;
  margin: 15px 30px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: #000080;
  font-size: 24px;
  text-align: left;
  margin: 15px 40px;
}

h4 {
  color: #000099;
  font-size: 20px;
  text-align: left;
  margin: 5px 50px 5px 30px;
  font-family: 'Barlow', sans-serif;
}

h5 {
  color: #002b80;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
}

h6 {
  color: #000066;
  font-size: 20px;
  text-align: center;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

i {
  padding: 5px;
}

.overimage {
  position: absolute;
  top: 90px;
  left: 60px;
  right: 40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
}

.overimagesmall {
  position: absolute;
  top: 80px;
  left: 60px;
  right: 30px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: bold;
}

.intro {
  font-size: 16px;
  margin: 10px 60px 20px 50px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.location {
  margin-top: 15px;
  margin-left: 22%;
  font-family: 'Cinzel', serif;
}

.location a {
  font-size: 18px;
  color: #003399;
  text-decoration: none;
}

.btn {
  border: none;
  font-size: 18px;
  background-color: white;
  display: block;
}

.btn i {
  padding: 10px;
  color: #003399;
}

.collapse {
  background-color: #e6e6ff;
  margin: 0px 20px 0px 30px;
  padding: 5px 10px 10px 20px;
}

.collapse p {
  font-size: 15px;
}

.drop {
  background-color: #e6e6ff;
  margin: 20px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.drop summary {
  font-size: 18px;
  background-color: white;
}

.drop p {
  margin: 20px 20px 10px 30px;
}

.abb {
  margin: auto;
  border-collapse: collapse;
  width: 600px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.abb td, .abb th {
  border: 1px solid #ddd;
  padding: 8px;
}

.abb tr:nth-child(even) {
  background-color: #f2f2f2;
}

.abb tr:hover {
  background-color: #ddd;
}

.abb th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000066;
  color: white;
}

.linear {
  width: 600px;
  border-collapse: collapse;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: auto;
}

.linear td, .linear th {
  border: 1px solid #000066;
  padding: 8px;
}

.linear th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000066;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.container3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  width: 310px;
  height: 520px;
  box-shadow: 0px 5px 10px 5px #888888;
  margin: 20px auto;
  text-align: center;
  background-color: #f3f3f2;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.card:hover {
  width: 330px;
  background-color: #dadad8;
}

.card img {
  margin-top: 10px;
  height: 135px;
  width: 230px;
}

.detail {
  margin: auto;
  width: 290px;
}

.detail p {
  font-size: 14px;
  margin-left: 5px;
  text-align: left;
  line-height: 1.5;
}

.seemore {
  overflow: hidden;
  background-color: #000066;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.seemore a {
  text-decoration: none;
  color: white;
}
.seemore:hover {
  opacity: 1
}

/* Flip card */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  margin: auto;
  background-color: #737373;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 14px;
  margin: 10px 20px;
}

/*Footer*/
.footer {
  overflow: hidden;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #e6e6e5;
  color: #595959;
  text-align: center;
}
